#contactList {
    cursor: pointer;
}
  
header, footer, aside {
    display: block; 
}
  
label {
    width: 450px;
    display: block;
}
  
input{
    margin: 2px;
    padding: 6px;
    border: 1px solid rgb(201, 200, 200);
    background-color: #FFFAFA;
    font-family: 'Ubuntu',sans-serif;
    
}

fieldset{
    border: 1px solid rgba(201, 200, 200, 0.308);
} 

textarea {
    width: 100%;
    min-height: 190px;
    background-color: #FFFAFA;
    position: relative;
    margin-left: 2px;
    margin-top: 2px;
    font-size: 20px;
    border-radius: 4px;
    border:none;
    resize: none;
}
  
button, .input-button {
    font-family: 'Ubuntu',sans-serif;
    background-color: #0b011b;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
.leftbar {
    width: 50%;
    min-height: 600px;
    float: left;
}
  
.rightbar {
    width: 50%;
    min-height: 586px;
    float: left;
    padding: 10px;
}
  
ul #contactList {
    list-style-type: none;
    padding: 6px;
    
}

ul #contactList li {
    padding: 8px 16px;
    border-top: 1px solid #FFFAFA;
    border-bottom: 1px solid #FFFAFA;
}

ul #contactList ul li:hover {
    background: #ebe5d4;
}


@media (max-width: 800px) {
    .leftbar {
        width: 75%;
        float: left;
    }
      
    .rightbar {
        width: 75%;
        padding: 4px;
    }
}