div.content {
    padding: 1px 16px;
    height: 100%;
    color: #101053;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(27, 1, 1);
    color: white;
    padding: 8px;
    min-width: 160px;
    font-size: 21px;
    border-radius: 4px;
    border: none;
} 

.dropdown {
    position: relative;
    display: inline-block;
    font: bold "Courier New", Courier, monospace;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffefd5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
  
.dropdown-content p {
    color:  rgb(129, 2, 2);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}


.of-inputs {
    width: 220px;
    padding: 5px;
    font-size: 21px;
}
  
.colors {
    padding: 5px;
    font-size: 21px;
    background-color: rgb(129, 2, 2);
    border-color:  rgb(27, 1, 1);
    color: rgb(27, 1, 1);
    cursor: pointer;
}

.dropdown-content p:hover {background-color: rgb(27, 1, 1); color: #ffefd5;}

.dropdown:hover .dropdown-content {
    display: block;
}

#overlay {
    position: fixed;
    display: none;
    width: 50%;
    height: 100%;
    top: 0;
    left: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translated(-50%, -50%);
}

#header {
    margin-top: 15px;
}

.cryptleft img {
    width: 380px;
    height: 280px; 
}

.narrownav {
    float: right;
}

#usertext {
    padding: 8px;
    border-radius: 4px;
}

.input-button, .footerbutton, .navbutton {
    font-family: 'Ubuntu',sans-serif;
    background-color: #0b011b;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .cryptleft img {
        width: 20em;
        height: 20em; 
    }

    .leftbar {
        width: 100%;
        float: left;
    }
      
    .rightbar {
        width: 100%;
        padding: 4px;
    }
}

@media (max-width: 380px) {
    .input-button, #usertext {
        padding: 6px;
        font-size: 12px;
    }
}