body {
	color: blue;
}


li span {
	float: right;
}

li:hover, #right {
	background-color: #F7F0FC;
	opacity: 100%;
}

h3 {
	font-size: 32px;
	font:'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

h4 {
	font-size: 24px;
	font:'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

h5 {
    font-size: 18px;
	font:'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
}

i {
	cursor: pointer
}

#landing.heromain {
	text-align: center;
	margin-right: 40%;
	margin-left: 32%;
}

#landing {
	text-align: center;
	margin-right: 42%;
	margin-left: 31%;
	color: #FFFFFF;
}

#landing #topic {
	margin-left: 20%;
	margin-top: 60px;
	text-transform: uppercase;
	font-size: 2em;
}

#landing #app-name {
	margin-left: 20%;
	margin-top: 15px;
	font-size: 1.5em;
}

#right {
	opacity: 50%;
}


#leftup {
	font-size: 16px;
	color: #959595;
	font: 'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

#leftdown {
	font-size: 14px;
	color: #959595;
	opacity: 60%;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
}

#rightdown {
	font-size: 14px;
	color: #959595;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
}

#collapsible-sidebar {
	max-width: 294px;
	min-width: 294px;
	min-height: 100vh;
	transition: all 0.3s;
}

#collapsible-sidebar.display {
    margin-left: -294px;
}

.wrapper {
	display: flex;
	align-items: stretch;
    width: 100%;
}

.sidebar-header {
	background-image: url("../images/menu-header-bg.png");
	height: 153px;
}

.right {
	font-size: 16px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-SemiBold, sans-serif;
}

.green {
	color: #16967A;
}

.red {
	color: #E44235;
}

.dashboardmenu {
	font-size: 16px;
	color: #8D52BA;
	padding-left: 20px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	margin-bottom: 0;
	background-repeat: no-repeat;
}

.active {
	font-weight: bold;
}
.slide {
	background-image: url("../images/peacock.jpg");
    height: 40vh;
    background-color: #9966FF;
}

.slide-app-name {
	background-image: url("../images/peacock.jpg");
    height: 20vh;
}

.base {
	height: 42px;
    background-color: #9900CC;
    padding-top: 8px;
    padding-left: 18px;
    font-family: 'Proxima Nova Soft', ProximaNovaSoft-Medium, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.hero {
	padding-left: 20px;
    display: flex;
}

.navbar {
	background-color: #9900CC;
}

.profile {
	font-size: 18px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
	color: #FFFFFF;
	padding-left: 8px;
	margin-top: 90px;
}

.navbar-nav {
	margin-right: 48%;
	margin-left: 25%;
}
.nav-item {
	margin-left: 30%;
	color: #FFFFFF;
	font-size: 20px;
	font: 'Proxima Nova Soft', ProximaNovaSoft-Regular, sans-serif;
} 
.material-icons {
	color: #FFFFFF;
}

.avatar {
	margin-top: 80px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.skip:hover {
	background-color: #FFFFFF;
}

.activitylog {
	background-color: #F1F1F1;
}

.activitylog, .skip {
	padding-left: 18px;
	padding-right: 14px;
	padding-top: 8.5px;
	padding-bottom: 8.5px;
}

.no-decor {
	color: unset;
}

.no-decor:hover {
	text-decoration: none;
	color: #4a2b61;
}

@media (max-width: 1024px) {
    #collapsible-sidebar {
        margin-left: -294px;
    }
    #collapsible-sidebar.display {
        margin-left: 0;
    }

    #landing {
	    margin-right: 25%;
	    margin-left: 0%;
   }

   .navbar-nav {
	    margin-left: 33%;
    }
}

@media (max-width: 768px) and (min-width: 400px) {
    #landing {
    	margin-top: 28px;
	}
	
	#landing #app-name h1{
		font-size: 1em;
	}
}

@media (max-width: 380px) {
    #landing {
		margin-top: 18px;
	}
	
	#landing #app-name h1{
		font-size: 0.6em;
		margin-top: 7px;
	}
}

@media (max-width: 800px) and (min-width: 768px) {
	#landing {
    	margin-top: 50px;
    	margin-right: 15%;
	    margin-left: 0%;
    }

    #landing.heromain {
	    margin-right: 15%;
	    margin-left: 10%;
    }
}

@media (max-width: 1024px) and (min-width: 810px) {
    #landing {
    	margin-top: 70px;
    	margin-right: 15%;
	    margin-left: 0%;
    }

    .navbar-nav {
	    margin-left: 33%;
    }

    #landing.heromain {
	    margin-right: 44%;
	    margin-left: 30%;
    }
}
  