body {
    font-family: Arial, Helvetica, sans-serif;
}

#imageSlider-image {
    margin: 0;
	width: 100%;
	height: 480px;
}

.nav {
	overflow: hidden;
	background-color: rgb(238, 232, 232);
    padding: 5px 8px;
    cursor: pointer;
}

.navbutton, .footerbutton {
    cursor: pointer;
}

.singles {
	position: absolute;
	width: 50%;
	height: 200px;
	top: 65%;
	background: rgba(0, 0, 0, 0.5);
	font-family: 'Sofia';
	color: white;
	font-weight: bold;
    font-size: 23px;
    margin-left: 3em;
	padding: 20px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: gray;
}
  
.form-popup {
    display: none;
    position: fixed;
    top: 25%;
    right: 0;
    border: 3px solid #ddd;
    z-index: 9;
}
  
.form-container input[type=text]:focus, .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}
  
.form-container textarea {
    width: 100%;
    height: 6em;
}
  
.form-container .btn {
    background-color: silver;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
.form-container input[type=text] {
    width: 100%;
    padding: 9px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

footer {
	background-color:  rgb(238, 232, 232);
	padding: 5px 8px;
}

@media (max-width: 600px) {
    .singles {
        width: 78%;
	    height: auto;
        top: 60%;
        font-size: 15px;
        margin: 0.5em;
	    padding: 8px;
    }
}

@media (max-width: 1024px) and (min-width: 700px)  {
    .singles {
        width: 70%;
	    height: auto;
        top: 40%;
        font-size: 19px;
        margin: 0.8em;
	    padding: 4px;
    }
}

